@tailwind base;
@tailwind components;
@tailwind utilities;

.movie-wrapper{
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: inherit;


}
.movies-wrapper{
    align-items: center;
}


.sections-wrapper{
    display: flex;
    flex-direction: row;
    gap: 40px;
    width:auto;
}
.title-wrapper{
    width:125px;
}
.border-wrapper{
    border-radius: 10px;
    overflow: hidden;
}