@tailwind base;
@tailwind components;
@tailwind utilities;

.movie-wrapper{
    width: 400px;
    padding: 20px;
    background-color: inherit;
}

.listwrapper{
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    width: 600px;
}